<div style="line-height:0.5">
<h1 style="color:#214fa2"> Feature selection 1 </h1>
</div>
<div style="line-height:1.5">
<div style="margin-top: -10px;">
<span style="display: inline-block;">
    <h3 style="color: lightblue; display: inline;">Keywords:</h3> feature_engine 
</span>
</div>
</div>

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from feature_engine.datasets import load_titanic
from feature_engine.selection import DropConstantFeatures, DropDuplicateFeatures

<h2 style="color:#214fa2"> Example #1 </h2>
Drop Constant Features

In [11]:
X, y = load_titanic(return_X_y_frame=True, handle_missing=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0,)

In [12]:
# Set up the transformer
transformer = DropConstantFeatures(tol=0.7)

In [13]:
# Train
transformer.fit(X_train);

In [14]:
# Get useless features
transformer.features_to_drop_

['parch', 'cabin', 'embarked', 'body']

In [15]:
X_train['embarked'].value_counts(normalize = True)

S          0.711790
C          0.195415
Q          0.090611
Missing    0.002183
Name: embarked, dtype: float64

In [16]:
X_train['parch'].value_counts(normalize = True)

0    0.771834
1    0.125546
2    0.086245
3    0.005459
4    0.004367
5    0.003275
6    0.002183
9    0.001092
Name: parch, dtype: float64

In [17]:
train_t = transformer.transform(X_train)
test_t = transformer.transform(X_test)

print(train_t.head())

      pclass                               name     sex        age  sibsp  \
501        2  Mellinger, Miss. Madeleine Violet  female  13.000000      0
588        2                  Wells, Miss. Joan  female   4.000000      1
402        2     Duran y More, Miss. Florentina  female  30.000000      1
1193       3                 Scanlan, Mr. James    male  29.881135      0
686        3       Bradley, Miss. Bridget Delia  female  22.000000      0

             ticket     fare     boat  \
501          250644  19.5000       14
588           29103  23.0000       14
402   SC/PARIS 2148  13.8583       12
1193          36209   7.7250  Missing
686          334914   7.7250       13

                                              home.dest
501                            England / Bennington, VT
588                                Cornwall / Akron, OH
402                     Barcelona, Spain / Havana, Cuba
1193                                            Missing
686   Kingwilliamstown, Co Cork, Ireland Glens Falls...

<h2 style="color:#214fa2"> Example #2 </h2>
Drop Duplicate Features

In [18]:
data = load_titanic(handle_missing=True, predictors_only=True)

#### Duplicate some columns
data = pd.concat([data, data[['sex', 'age', 'sibsp']]], axis=1)
data.columns = ['pclass', 'survived', 'sex', 'age',
                'sibsp', 'parch', 'fare','cabin', 'embarked',
                'sex_dup', 'age_dup', 'sibsp_dup']

# Split dataset in training and test sets
X_train, X_test, y_train, y_test = train_test_split(data.drop(['survived'], axis=1), 
                                                    data['survived'], test_size=0.3, random_state=0)

print(X_train.head())

      pclass     sex        age  sibsp  parch     fare    cabin embarked  \
501        2  female  13.000000      0      1  19.5000  Missing        S
588        2  female   4.000000      1      1  23.0000  Missing        S
402        2  female  30.000000      1      0  13.8583  Missing        C
1193       3    male  29.881135      0      0   7.7250  Missing        Q
686        3  female  22.000000      0      0   7.7250  Missing        Q

     sex_dup    age_dup  sibsp_dup
501   female  13.000000          0
588   female   4.000000          1
402   female  30.000000          1
1193    male  29.881135          0
686   female  22.000000          0

In [ ]:
duplicate_remover = DropDuplicateFeatures()

In [26]:
# Training 
duplicate_remover.fit(X_train);

In [27]:
duplicate_features = duplicate_remover.features_to_drop_    #need to be fitted first!
duplicate_features

In [29]:
train_t = duplicate_remover.transform(X_train)
test_t = duplicate_remover.transform(X_test)

In [30]:
train_t.columns

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'cabin', 'embarked'], dtype='object')

In [31]:
duplicate_remover.duplicated_feature_sets_

[{'sex', 'sex_dup'}, {'age', 'age_dup'}, {'sibsp', 'sibsp_dup'}]